- Conditional expressions
- List comprehensions
- Generator Expressions
- any and all
- sets
- counters
- defaultdict
- Named tuples
- Gatheing keyboard args

In [ ]:
# conditional statement vs conditional expression

In [5]:
# conditional expressions
import math

#  
x = 10
# x = -5
if x > 0:
    y = math.log(x)
else:
    y = float('nan')
y

y = math.log(x) if x > 0 else float('nan')
y

2.302585092994046

In [7]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
factorial(5)


def factorial(n):
    return 1 if n ==0 else n * factorial(n-1)

factorial(5)

120

In [8]:
def __init__(self, name, contents=None):
    self.name = name
    if contents == None:
        contents = []
    self.pounch_contents = contents
    
    
def __init__(self, name, contents=None):
    self.name = name
    self.punch_contents = [] if contents == None else contents

In [12]:
# List comprehensions

def capitalize_all(t):
    res = []
    for s in t:
        res.append(s.capitalize())
    return res


def capitalize_all(t):
    return [s.capitalize() for s in t]

string = 'Bangladesh is a small country'

# capitalize_all(string)

In [15]:

def only_upper(t):
    res = []
    for s in t:
        if s.isupper():
            res.append(s)
    return res


def only_upper(t):
    return [s for s in t if s.isupper()]

st = 'BangladesH'
only_upper(st)

['B', 'H']

In [18]:
# Generator expressions

g = (x**2 for x in range(5))
g
next(g)
next(g)
next(g)


# iterating using for loop
for val in g:
    print(val)

9
16

In [26]:
# any and all

any([False, False, True])

any(letter == 't' for letter in 'monty')


def avoids(word, forbidden):
    return any(letter in forbidden for letter in word)

forbidden = 'cm'

avoids('shahid', forbidden)


all(letter == 't' for letter in 'ttt')

True

In [28]:
# sets

def subtract(d1, d2):
    res = dict()
    for key in d1:
        if key not in d2:
            res[key] = None
    return res

d1 = {'a': 1, 'b': 1, 'c': 1}
d2 = {'a': 1, 'b': 1, 'd': 1}

subtract(d1, d2)


def subtract(d1, d2):
    return set(d1) - set(d2)
subtract(d1, d2)

{'c'}

In [31]:
def has_duplicates(t):
    d = {}
    for x in t:
        if x in d:
            return True
        d[x] = True
    return False

st = 'shahid'
has_duplicates(st)
            
    
def has_duplicates(t):
    return len(set(t)) < len(t)

st = 'sh'
has_duplicates(st)

False

In [35]:
def uses_only(word, available):
    for letter in word:
        if letter not in available:
            return False
    return True

def use_only(word, available):
    return set(word) <= set(available)

# <= operator checks whether one set is a subset or another
# including the possiblity that they are equal, which is true
# if all the letters in word appear in available.

available = 'abc'
word = 'dm'

use_only(word, available)

False

In [46]:
# counters (like multiset)

from collections import Counter
count = Counter('shahid')
count


def is_anagram(word1, word2):
    return Counter(word1) == Counter(word2)

is_anagram('shahid', 'shahid')


count = Counter('parrot')
count

for val, freq in count.most_common(3):
    print(val, freq)

r 2
p 1
a 1

In [53]:
# defaultdict

from collections import defaultdict
d = defaultdict(list)
d
t = d['new_key']
t, d
t.append('new_value')
t, d

# A function used to create objects is sometimes
# called a factory. e.g: list()

(['new_value'], defaultdict(list, {'new_key': ['new_value']}))

In [ ]:
# incompleted example
def all_anagrams(filename):
    d {}
    for line in open(filename):
        word = line.strip().lower()
        t = signature(word)
        if t not in d:
            d[t] = [word]
        else:
            d[t].append(word)
    return d


def all_anagrams(filename):
    d = {}
    for line in open(filename):
        word = line.strip().lower()
        t = signature(word)
        d.setdefault(t, []).append(word)
    return d
        
    
def all_anagrams(filename):
    d = defaultdict(list)
    for line in open(filename):
        word = line.strip().lower()
        t = signature(word)
        d[t].append(word)
    return d

In [61]:
# Named tuples

class Point:
    def __init__(self, x=0, y=0):
        self.x = x
        self.y = y
        
    def __str__(self):
        return '(%g, %g)' %(self.x, self.y)
    
from collections import namedtuple
Point = namedtuple('Point', ['x', 'y'])

p = Point(1, 2)
p

p.x, p.y

p[0], p[1] 

# Inheritence

class Pointier(Point):
    # add more methods here

(1, 2)

In [70]:
# Gathering keyword agrs

def printall(*args):
    print(args)
    
printall(1, 3, 3, 5)

# * operator does not gather keyword arguments
def printall(*args):
    print(args)
    
# printall(1, 3, 3, 5, x=10)

def printall(*args, **kwargs):
    print(args, kwargs)
    
printall(1, 3, 3, 5, x=10)

# ** scatter operator
d = dict(x=1, y=2)
d

Point(**d)

(1, 3, 3, 5)
(1, 3, 3, 5) {'x': 10}

Point(x=1, y=2)

In [9]:
def func(lst):
    lst.sort()
    
lst = [4, 2, 3, 5]
func(lst)
lst

[2, 3, 4, 5]