In [60]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

- A list is a sequence
    - Nested list
- List are mutable
- Traversing a list
- List operations
- List slices
- List methods
- Map, filter and Reduce
- Deleting elements
- List and Strings
- Objects and values
- List arguments

List is a sequence of values/elements/items.
list element can be anything.

In [3]:
# list generate literals

# [] or list constructor
lst = [1, 2, 3, 4]
lst

lst = ['Apple', 2, 'Mango', 4.5] # list can contain any datatype
lst

# empty list
lst = []

[1, 2, 3, 4]

['Apple', 2, 'Mango', 4.5]

In [12]:
# Accessing list element
# [] bracket operator/indexing

lst = [1, 3, 5]
lst[2]
# in operator
# for item in lst:
#     item
    
    
# slice operator [start:end:step]

lst[-2]
lst[::1]
lst[::-1]

5

3

[1, 3, 5]

[5, 3, 1]

In [17]:
# list is mutable
lst = ['Apple', 2, 'Mango', 4.5]
lst
# lst[2] = 'something'
# lst[2] = lst[3]
# lst

# When the bracket operator appears on the left side of 
# an assignment, it identifies the element of the list 
# that will be assigned.
# lst[0] = 'wheat'
# lst

# a = 'abc'
# b = 'def'
# a + b

['Apple', 2, 'Mango', 4.5]

In [25]:
# Traversing a list
numbers = [1, 2, 3]

# for num in numbers:
#     print(num)

# if we need to write or update the elements
# we need indices

number_of_items = len(numbers)

for i in range(number_of_items):
    # numbers[i] = numbers[i] * 2
    numbers[i]
# print(numbers)
# len(numbers)

# for i in range(5):
#     i

# range(5)

1

2

3

In [28]:
# nested list
nested_number_list = [1, 2, 3, [4, 5], 6]
# print(nested_number_list)

# counts nested list as a single element
print(nested_number_list[3])
print(nested_number_list[3][0])

[4, 5]
4

In [31]:
# List operations
# +  operator
a = [1, 2, 3]
b = [4, 5, 6]

c = a + b
print(c)
# *  operator
a = [1, 2, 3]
a * 4

[1, 2, 3, 4, 5, 6]

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [39]:
# List slicing
t = ['a', 'b', 'c', 'd', 'e', 'f']
# t[1:3]
# t[:4]
# t[3:]

# update elements
t = ['a', 'b', 'c', 'd', 'e', 'f']
# t[1:3] = ['something1', 'something2', 'something3']
t[1:3] = ['something1']
# t[1:3]
print(t)

['a', 'something1', 'd', 'e', 'f']

In [62]:
# List methods
t = ['a', 'b', 'c']
# t
t = t.append('d')
t
# print(r)



t1 = ['a', 'b', 'c']
t2 = ['d', 'e']


t1.extend(t2)
t1


# Most List operations modify the list inline

numbers = [1, 3, 2, 5, 2]
numbers.sort()
numbers

['a', 'b', 'c', 'd', 'e']

[1, 2, 2, 3, 5]

In [66]:
# Map, Filter and Reduce


def add_all(t): # this type of method is sometimes called reduce
    total = 0 # accumulator
    for x in t:
        total += x # += augmented assignment statement.
    return total

t = [1, 2, 3, 4, 5]
# add_all(t[1:3])
sum(t[1:3])

# t[1:5]

5

In [68]:
# this type of method is called map
def capitalize_all(t):
    # res = []
    res = ''
    for s in t:
        # res.append(s.capitalize())
        res = res + s.capitalize()
    return res

st = 'shahid'

capitalize_all(st)

'SHAHID'

In [69]:
# this type of method is called filter

def only_upper(t):
    res = []
    for s in t:
        if s.isupper():
            res.append(s);
    return res

st = 'BangLadesh'

only_upper(st)

['B', 'L']

In [85]:
# Deleting elements

# 1. using pop method
t = ['a', 'b', 'c']
# t.pop(0)
# t
# x = t.pop()
# t

# using del keyword
del t[0]

# using remove method
# t.remove('b')
t

# # using slice and del keyword
t = ['a', 'b', 'c', 'd', 'e', 'f']
del t[1:5]
t

['b', 'c']

['a', 'f']

In [90]:
# List and strings

# string to list of character
s = 'spam some'
t = list(s) # breaks a string into individual letters
t

st = 'Bangladesh is a small country'
st.split() # Breaks string into words


lst = ['Bangladesh', 'is', 'a', 'small', 'country']

' '.join(lst)

['s', 'p', 'a', 'm', ' ', 's', 'o', 'm', 'e']

['Bangladesh', 'is', 'a', 'small', 'country']

'Bangladesh is a small country'

In [11]:
# List as arguments
# Be careful when pass mutable object as parameter/parameters

def delete_head(t):
    del t[0]

letters = ['a', 'b', 'c']

delete_head(letters)
letters

['b', 'c']

In [91]:

t1 = [1, 2, 3]
# t2 = t1.append(4)
# t1, t2
t4 = [4]

t3 = t1 + t4
# t1, t3

# append method modifies a list, but the 
# + operator creates a new list.

In [19]:

def bad_delete_head(t):
    t = t[:1] # wrong because slice operator creates new list
t = [1, 3, 4]

bad_delete_head(t)
t

[1, 3, 4]

In [102]:
# Be careful
t = [1, 2,]
# x = [10, 34]
x = 10
# t.append(x)
# t = t + [x]
# t += [x]
# t


t.append([x]) # Wrong
t
# t = t.append(x) # Wrong
t + [x] # Wrong
# t = t + x # Wrong

[1, 2, [10]]

##  Practice problems

Write a function called nested_sum that takes a list of lists of integers and adds up the
elements from all of the nested lists. For example:

```python
>>> t = [[1, 2], [3], [4, 5, 6]]
>>> nested_sum(t)
21
```

In [108]:

t = [[1, 2], [3], [4, 5, 6]]

def nested_sum(t):
    summation = 0
    for lst in t:
        # lst
        for item in lst:
            # item
            summation = summation + item
    return summation
        
        
print(nested_sum(t))

21